
.loginBar{
    width:100%;    
    background:var(--Yellow);    
    color:var(--Blue);
    height:50px;

}
.login,.create{
    
    display:inline-block;
    padding:15px 60px;   
    padding-right:0;
    color: #4BABC0;
    cursor: pointer ;
}

