<p>rozwiazdyktanda works! ID = {{id}}</p>
{{dyktando?dyktando.content:""}}
<div class="dyktando">
<div *ngFor='let word of dyktando, let index1 = index'>
    <div *ngIf='isString(word)' class='dyktando-word'>{{word}}</div>
    <app-word *ngIf='!isString(word)' [word]='word' [index1]='index1'></app-word>
</div>
</div>
<button class='dyktando-button' (click)='handleCheckAnswers()'> Rozwiąż</button>
<div *ngFor='let answerObj of dyktando, let i = index' >
    <app-hints *ngIf='!isString(answerObj)' [index]='i'></app-hints>
</div>



