footer{
    background-image: url(/assets/img/footer_bg.png);    
}
footer:before{
    content: " ";
    height:7px;
    width:100%;
    background-image:url(/assets/img/deko_b2.png);
    background-size: contain;
    background-repeat: repeat-x;
    position:absolute;
    transform:translateY(-7px) rotate(180deg);
}

footer .contentWrapper{
    padding-top:20px;
    padding-bottom:20px;
    color:white;
    display:flex;
    justify-content: space-between;
}
.footer-logo{
text-decoration: underline;
}